
  .page--contact {
  
    &__map {
  
      height: 426px;
  
      margin-bottom: 180px;
  
      display: grid;
      grid-template-columns: 1fr 1290px 1fr;
  
      position: relative;
  
      &__img {
        grid-column: 1 / 4;
        overflow: hidden;
  
        display: flex;
        align-items: flex-end;
  
        img {
  
          display: block;
          width: 100%;
          height: auto;
        }
  
      } 
  
      &__card {
        grid-column: 2 / 3;
  
        position: absolute;
        top: 128px;
        z-index: 2;     
      }
    }
  
    &__main {
      
      &__contact-form {
  
        grid-column: 2 / 3;
        width: 850px;
        height: 410px;
        margin: 0 auto;
      }
  
      &__transport {
  
        grid-column: 1 / 4;
        height: 572px;
  
        margin-top: 96px;
        background-color: $secondary-50;
  
        display: grid;
        grid-template-columns: 1fr 1290px 1fr;
  
        &__container {
          grid-column: 2 / 3;
          margin-bottom: 96px;
  
          display: grid;
          grid-template-rows: auto auto;
  
          .main__transport__title {
            margin: 96px 0 48px 0;
            text-align: center;
            color: $primary-300;
          }
  
          .main__transport__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 33px;
          }
        }
      }
    }
  }