.nav__list {


  display: none;

  /*DESKTOP STYLES */
  
  @include bp('desktop') {
    
    display: flex;
      &__item {
        margin-right: 2.25em;
        position: relative;
      }
      
      &__link {
        font-weight: 600;
        font-size: 0.81em;
        line-height: 1.25;
        color: $grey-700;

        transition: color 0.2s ease-in-out;

        &:hover {
          color: $secondary-800;
        }
      }
    }
}
