.page__header {
  
  @include BoxShadow(2);
  align-content: center;
  background-color: $white;

  position: relative;

  .logo--su-kids {

    height: 60%;
    margin-right: auto;

    &__img--desktop {
      display: none;
    }
  }

  .icon--triangle {

    height: 20px;
    margin-right: 16px;

    &__img--desktop {
      display: none;
    }
  }

  .icon--search {

    margin-right: 20px;

    &__img--desktop {
      display: none;
    }
  }

  .icon--menu {

    margin-left: 24px;
    order: 5;
    cursor: pointer;
  }

  /* DESKTOP STYLES */

  @include bp("desktop") {

    .logo--su-kids,
    .icon--triangle,
    .icon--search {
      &__img--mobile {
        display: none;
      }

      &__img--desktop {
        display: inline-block;
      }
    }
    .icon--menu {
      display: none;
    }
  }
}
