.page__header {
  
  @include BoxShadow(2);
  align-content: center;
  background-color: $white;

  position: relative;

  .logo--su-kids {
    height: 60%;
    margin-right: auto;

    &-desktop {
      display: none;
    }
  }

  .icon--triangle {
    height: 20px;
    margin-right: 16px;

    &-desktop {
      display: none;
    }
  }

  .icon--search {
    margin-right: 20px;

    &-desktop {
      display: none;
    }
  }

  .icon--menu {
    margin-left: 24px;
    order: 5;
    cursor: pointer;

  }

  /* DESKTOP STYLES */

  @include bp("desktop") {

    .logo--su-kids,
    .icon--triangle,
    .icon--search {
      &-mobile {
        display: none;
      }

      &-desktop {
        display: inline-block;
      }
    }
    .icon--menu {
      display: none;
    }
  }


}
