.image--circle {
  
    width: 185px;
    height: 185px;

    border: 8px solid $primary-300;
    border-radius: 50%;
    overflow: hidden;

    img {
      
      width: 100%;
      height: auto;
    }
}