.applying-section {

  &__container {

    margin: 64px 0;

    grid-column: 2 / 3;
    display: grid;

    color: $white;
  }

  &__description {

    margin-bottom: 32px;

    &__title {

      margin-bottom: 24px;

      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }

    &__text {
      margin-bottom: 16px;
    }
  }


    /*DESKTOP STYLES */

  @include bp("desktop") {

    &__container {

      width: 936px;
      margin: 64px auto 0 auto;
    }

    &__description {

      width: 850px;
      justify-self: center;

      &__title {

        text-align: center;

        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
      }

      &__text {
        
        padding: 0 8px;
        margin-bottom: 0px;
        text-align: center;
      }
    }
  }
}
