.page--course__label {
  padding-top: 64px;

  background-color: $blue-400;

  position: relative;

  .site__label__text {
    grid-column: 1 / 4;
  }

  .label {
    padding: 4px 8px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 14px;

    background-color: $secondary-500;
    color: $white;

    width: fit-content;
    margin: 0 auto;

    border-radius: 4px;
  }

  .title {
    color: $white;
    margin: 24px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }


  /* TABLET STYLES */

  @include bp("tablet") {

     .title {
      margin: 24px 100px;
     }
  }
    
      
  /* DESKTOP STYLES */

  @include bp("desktop") {
    .title {
      width: 645px;
      margin: 24px auto;

      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
    }
  }
}

.page--trainers__label {

  padding-top: 64px;
  background-color: $secondary-600;

  &__wrapper {

    grid-column: 2 / 3;

  }

  &__title,
  &__text {

    color: $white;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
  }


  @include bp('desktop') {

    &__title {
      width: 305px;
      margin: 0 auto 24px auto;
    }
    &__text {
      width: 850px;
      margin: 0 auto;
    }
  }
}
